<!DOCTYPE html>
<html>
<head>
    <title>prefixcommons.org</title>
	<link rel="shortcut icon" href="img/prefixcommons.ico" type="image/x-icon" /> 
<!-- local
    <link rel="stylesheet" href="css/bootstrap.min.css" /> 
    <script src="js/angular.js"></script>
    <script src="js/elasticsearch.angular.js"></script>
    <script src="js/elastic.js"></script>
    <script src="js/elasticui.min.js"></script>
-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elasticsearch.angular.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/examples/demo/lib/elastic.js"></script>
    <script src="http://rawgit.com/YousefED/ElasticUI/master/dist/elasticui.min.js"></script>
	
	<style>
        .sidebar {
            position: fixed;
            top: 0px;
            bottom: 0px;
			left: 20px;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            /* background-color: #f5f5f5; */
            border-right: 0px solid #eee;
        }
		.bannerinput {
			width: 300px;
		}
		.details {
			max-height: 100px;
			transition: .8s;
			overflow: hidden;
		}
    </style>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73896785-1', 'auto');
  ga('send', 'pageview');
	</script>

    <script>
        angular
            .module('prefixcommons', ['elasticui'])
            .constant('euiHost', 'http://search.prefixcommons.org')
			.controller('view', ['$scope', function ($scope) {
			
			 }])
			.controller('search', ['$scope', function($scope) {
			
			}]);
  </script>
	
</head>
<body ng-app="prefixcommons" eui-index="'prefixcommons'">

    <div class="container-fluid" ng-controller="search">
        <div class="row">
            <div class="col-xs-3 sidebar">
			 <div style="height: 100px; text-align: center;  padding-top: 0px;"></div>
                <h3>Type</h3>
                <eui-singleselect field="'type'" size="10"></eui-singleselect>
                <h3>Keywords</h3>
                <eui-singleselect field="'keywords'" size="8"></eui-singleselect>
                <h3>organization</h3>
                <eui-singleselect field="'organization'" size="8"></eui-singleselect>                
            </div>
            <div class="col-xs-8 col-xs-offset-3">
                <div style="left: 10px; height: 200px; text-align: center;  padding-top: 30px;">
					<h1><img height="40" src="img/prefixcommons.png"/>prefixcommons</h1>
					<br>
					<span style="">
						<input class="ng-scope ng-pristine ng-valid bannerinput" eui-query="ejs.MultiMatchQuery(['preferredPrefix^4', 'alternatePrefix^3', 'title^2', '_all']).query(querystring).operator('AND').lenient(false).boost('1.0')" ng-model="querystring" eui-enabled="querystring.length" type="text" placeholder="enter search terms">
					</span>
				</div>
				<div> 
					<span><strong>{{indexVM.results.hits.total}}</strong> {{indexVM.results.hits.total == 1 ? 'result':'results'}}</span>
					<table>
					  <tr style="border-spacing:5em" ng-repeat="(i,doc) in indexVM.results.hits.hits">
						<td style="{{$odd ? 'background-color:#f1f1f1; vertical-align: text-top;' : 'vertical-align: text-top;'}}">
							{{i+1}}.
						</td>
						<td style="{{$odd ? 'background-color:#f1f1f1; vertical-align: text-top;' : 'vertical-align: text-top;'}}">
						 <div style="font-weight: bold;">{{doc._source.title}} [prefix: {{doc._source.preferredPrefix}}]</div>
						    <div>{{doc._source.description}}</div>
						   
						   	<div><a href='#{{i}}' ng-click='showDetails =! showDetails'>details</a></div>
							<div ng-show="showDetails">
								<br>
								<span ng-if="doc._source.organization != ''  && doc._source.organization.length > 0">
									<strong>organization:</strong> {{doc._source.organization}}
								</span>
								<span ng-if="doc._source.homepage != '' && doc._source.homepage.length > 0
								&& doc._source.homepage != 'dead'">
									[<a href="{{doc._source.homepage}}">website</a>]
									<br>
								</span>
								<span ng-if="doc._source.keywords != '' && doc._source.keywords.length > 0">
									<strong>keywords:</strong>
									<span ng-repeat="keyword in doc._source.keywords">
										{{keyword}}{{$last ? '' : ', '}}
									</span>
									<br>
								</span>
								<span ng-if="doc._source.pubmed != '' && doc._source.pubmed.length > 0">
									<strong>pubmed:</strong> 
									<span ng-repeat="pubmed in doc._source.pubmed">
										<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{pubmed}}">{{pubmed}}</a>{{$last ? '' : ', '}}
									</span>
									<br>
								</span>
								
								<span ng-if="doc._source.alternativePrefix != '' && doc._source.alternativePrefix.length > 0">
									<strong>alternative prefixes:</strong> 
									<span ng-repeat="alternativePrefix in doc._source.alternativePrefix">
										{{alternativePrefix}}{{$last ? '' : ', '}}
									</span>
									<br>
								</span>
								<span ng-if="doc._source.preferredBaseURI != '' && doc._source.preferredBaseURI.length > 0">	  
									<strong>preferred base URI:</strong> {{doc._source.preferredBaseURI}}
									<br>
								</span>
								<span ng-if="doc._source.alternativeBaseURI != '' && doc._source.alternativeBaseURI.length > 0">
									<strong>alternative base URI:</strong> 
									<span ng-repeat="alternativeBaseURI in doc._source.alternativeBaseURI">
										{{alternativeBaseURI}}{{$last ? '' : ', '}}
									</span>
									<br>
								</span>								
								<span ng-if="doc._source.idRegex != '' && doc._source.idRegex.length > 0">
									<strong>idRegex:</strong> {{doc._source.idRegex}}
									<br>
								</span>   
								<span ng-if="doc._source.exampleID != '' && doc._source.exampleID.length > 0">
									<strong>exampleID:</strong> {{doc._source.exampleID}}
									<br>
								</span>  
								<span ng-if="doc._source.providerHtmlTemplate != '' 
										&& doc._source.providerHtmlTemplate != 'N/A'
										&& doc._source.providerHtmlTemplate.length > 0">	
									<strong>providerHtmlTemplate:</strong> {{doc._source.providerHtmlTemplate}}
									<br/>
								</span>


								<span ng-if="doc._source.exampleID != '' && doc._source.exampleID.length > 0 
										&& doc._source.providerHtmlTemplate != '' 
										&& doc._source.providerHtmlTemplate != 'N/A'
										&& doc._source.providerHtmlTemplate.length > 0
								">	
									<strong>Provider Example HTML:</strong> 
									<a ng-href="{{doc._source.providerHtmlTemplate.replace('$id',doc._source.exampleID)}}">html</a>
									<br/>
								</span>
								<span ng-if="doc._source.exampleID != '' && doc._source.exampleID.length > 0 ">	
									<strong>Bio2RDF:</strong> <a href="http://bio2rdf.org/{{doc._source.preferredPrefix}}:{{doc._source.exampleID}}">http://bio2rdf.org/{{doc._source.preferredPrefix}}:{{doc._source.exampleID}}</a>
									<br/>
								</span>
								<span ng-if="doc._source.miriam != '' && doc._source.miriam.length > 0 ">	
									<strong>MIRIAM:</strong> <a href="http://www.ebi.ac.uk/miriam/main/collections/{{doc._source.miriam}}">http://www.ebi.ac.uk/miriam/main/collections/{{doc._source.miriam}}</a>
									<br/>
								</span>
								<span ng-if="doc._source.biosharing != '' && doc._source.biosharing.length > 0 ">	
									<strong>BioSharing:</strong> <a href="https://biosharing.org/{{doc._source.biosharing}}">https://biosharing.org/{{doc._source.biosharing}}</a>
									<br/>
								</span>								
								<span ng-if="doc._source.bioportal != '' && doc._source.bioportal.length > 0 ">	
									<strong>Bioportal:</strong> <a href="https://bioportal.bioontology.org/{{doc._source.bioportal}}">https://bioportal.bioontology.org/{{doc._source.bioportal}}</a>
									<br/>
								</span>	
								<br/>
							</div>
						</td>
					  </tr>
					</table>
					<eui-simple-paging></eui-simple-paging>
					<div style="margin: auto;">results per page 
						<select ng-model="indexVM.pageSize">
							<option ng-repeat="item in [10, 20, 50, 100]">{{item}}</option>
						</select>
					</div>
				</div>
            </div>
			<div class="col-xs-1"></div>
			
        </div>
    </div>
</body>
</html>
